body{
    background-color: white;
}
.nav{
    width: 1000px;
    /* height: 500px; */
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 10px;
    
}
.nav ul li{
    list-style-type: none;
    float: left;
    /* background-color: violet; */
}
.nav ul li a{
    display: block;
    height: 80px;
    width: 200px;
    /* background-color: royalblue; */
    color: #666;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-top: 40px;
}
.nav ul li a:hover{
    color: #15b8d7;
}
.show{
    color: #15b8d7;
}
